@media screen and (max-width: 46.0625em) {
    .column {
        width: 100%;
        min-width: auto;
        min-height: auto;
        padding: 1em;
    }

    .column p {
        text-align: left;
        font-size: 1.5em;
    }

    .column:nth-child(2) {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

}


/*// Очень малые устройства (портрет телефонов, менее 544px)*!*!*/
@media (max-width: 543px) {
    .nav{


    }
}

/*// Небольших устройств (альбомной телефоны, 544px и вверх)*!*!*/
@media (min-width: 544px) and (max-width: 767px) {
    .nav{

    }

}

/*// Устройствах среднего (планшеты, 768px и выше)*!*!*/
@media (min-width: 768px) and (max-width: 991px) {
    .nav{

    }
}

/*// Крупных устройств (настольных компьютеров, 992px и выше)*!*!*/
@media (min-width: 992px) and (max-width: 1199px) {
    .nav  {

    }
}

/*// Очень больших устройств (большие компьютеры, 1200px и выше)*!*!*/
@media (min-width: 1200px) {
    .nav  {

    }
}