
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid rgba(128, 128, 128, 0.51);
	border-radius: 5px;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	transition: all 0.2s;
}
textarea.form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0, 0, 0, 0.6);
	border-color: #b9bbbe;

}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
	background-color: rgba(35, 91, 75, 0.02);
}


/* Content styles */


.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content button {
	background-color: rgba(130, 185, 60, 0.78);
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}


/*.md-show.md-effect-16 ~ .md-overlay {*/
	/*background-color:#ffffff;*/
	/*filter: blur(3px);*/
/*}*/

/*.md-show.md-effect-16 ~ .container {*/
	/*filter: blur(2px);*/
/*}*/

.md-effect-16 .md-content {
	transform: translateY(-5%);
	opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
	transition: all 0.6s;
}

.md-show.md-effect-16 .md-content {
	transform: translateY(0);
	opacity: 1;
}
@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}