
#sidebar {
    /*z-index: 100;*/
    background: #151718;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: -200px;
    top: 0px;
    transition: left 0.3s linear;
}

#sidebar.visible {
    left: 0px;
    transition: left 0.3s linear;
}

ul {

    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

ul li a {
    background: #1C1E1F;
    color: #ccc;
    border-bottom: 1px solid #111;
    display: block;
    width: 180px;
    padding: 10px;
    text-decoration: none;
}

#sidebar-btn {
    /*z-index: 100;*/
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0px;
    right: -60px;
}

#sidebar-btn span {
    /*z-index: 100;*/
    height: 2px;
    background: #ffffff;
    margin-bottom: 5px;
    display: block;
}

#sidebar-btn span:nth-child(2) {
    /*z-index: 100;*/
    width: 75%;
}

#sidebar-btn span:nth-child(3) {
    /*z-index: 100;*/
    width: 50%;
}

