@import "media.css";







/******************************************Default CSS***************************************/

*, *:after, *:before {
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

button,.btn {
    border: none;
    padding: 0.6em 1.2em;
    background-color: rgba(131, 186, 58, 0.71);
    color: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 7px;
}

button,.btn:hover {
    background-color: #82b93c;

}
.btn-list{
    margin: 30px 0 30px 0 ;

}


.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0, 0, 0, 0.6);
    border-color: #b9bbbe;

}

input{
    border-radius: 5px;
}

/***************************************************Body*****************************************/


body {
    overflow-x: hidden;
}

/***************************************************Header*****************************************/


.main-header {
    background-color: #82b93c;
    color: white;
    height: 50px;
}

.nav-container {
    background-color: rgba(35, 91, 75, 0.09);
}

.nav-link:hover {
    filter: blur(1px);
    color: black;
}

.sidebar > ul > li {
    list-style: none;
    margin: 10px 0 10px 0;
}

.sidebar {
    margin-right: 0px;
}

.sidebar > ul > li > a:hover {
    filter: blur(1px);

}
a {
    color: #4e555b;
    text-decoration: none;
}

a:hover {
    filter: blur(1px);
    color: black;
    text-decoration: none;
}
/***************************************************Content*****************************************/



.wrapper {
    margin-top: 15px;
}

table {

    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}

table tr {
    padding: 5px;



}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(35, 91, 75, 0.09);;

}


table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    font-style: normal;
    font-weight:bolder;
    color: black;

}
.navbar-nav{
    display: none;
}


@media screen and (max-width: 991px) {
    .sidebar{
        display: none;
    }
    .cab{
        display: none;
    }
    .navbar-nav{
        display: contents;
    }
    table{
        font-size: 8px;


    }

}

/***************************************************Footer*****************************************/



.footer {
    margin-top: 50px;
    padding:10px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    text-align: center;
}
.footer p{
    margin-top: 10px;
}
.form-control{
    border-radius: 5px;
}
